body{
    background-color:hsl(217, 54%, 11%);
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    color: white;
    margin: 3em 35.3em 0em 35.3em;
    border: 2px solid hsl(217, 54%, 11%);
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.container {
    padding: 20px 36px;
}
img {
    border-radius: 5px 5px 0 0;
}
p{
    color: hsl(215, 51%, 70%);
}
.eth{
    color: aqua;
    font-size: large;
}
.clock{
    color: hsl(215, 51%, 70%);
    text-align: right;
    padding-bottom: 20px;
}
.both{
    border-bottom: 1px solid seashell ;
}
.picture{
    border: 2px solid white;
}
.avatar{
    font-weight: 700;
    font-size: larger;
    padding-top: 20px;
}